<form id="formInput">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="text" class="form-control" id="todo-input" aria-describedby="emailHelp" placeholder="Enter todo">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="/js/script.js"></script>